In [3]:
import pandas as pd
from sqlalchemy import create_engine
import pymysql
import os
import numpy as np
import re

# 公交部分

In [168]:
columns = ['busid','datatype','routeid','subrouteid','productid','statiomseqnum',
           'stationnum','isarrlef','actdatetime','recdatetime','writeid',
          'isappend','bussid','longitude','latitude','altitude','gpsspeed','sensorspeed',
          'rotationangle','stationtype','ismanulopt','packcode','smcode','onpnum',
          'offpnum','leftpnum','tptdata','doorstate','peccancytype','peccancytime',
          'standardvalue','peccancyvalues','gpsmile','r1','r2','r3','r4','r5','r6',
          'r7','r8','r9','r10']

In [169]:
subcolumns = ['busid','actdatetime',
          'isappend','longitude','latitude','gpsspeed',
          'rotationangle','onpnum',
          'offpnum','leftpnum','doorstate']

In [ ]:
def insert_valuses(dir_path = 'F:\\jtkjds\\data2\\gps\\gjcgps\\wlmq_gps_gj_20171012\\'):
    dir_list = os.listdir(dir_path)
    for dir_name in dir_list:
        path = dir_path + dir_name
        df = pd.read_csv(path, names= columns,sep = ',')
        df = df[subcolumns]
        df = df[((df.actdatetime%1000000>=83000)&(df.actdatetime%1000000<=103000))
                |((df.actdatetime%1000000<=203000)&(df.actdatetime%1000000>=183000))]
        
        try:  
            engine = create_engine('mysql+pymysql://user1:123456@localhost:3306/jiaoke') 
        except sqlalchemy.exc.OperationalError as e:  
            print('Error is '+str(e))  
            sys.exit()  
        except sqlalchemy.exc.InternalError as e:  
            print('Error is '+str(e))  
            sys.exit()   
        df.to_sql(name='gj_gps',con=engine,if_exists='append',index=False)
        print('%s is inserted'%len(df))
        
insert_valuses()

In [ ]:
insert_valuses('F:\\jtkjds\\data2\\gps\\gjcgps\\wlmq_gps_zb_20171012\\')

In [3]:
def out_from_gj_gps(path = "C:\\Users\\D\\Desktop\\", sql = 'select * from gj_gps'):
    conn  = pymysql.connect(host='localhost',user='user1',password='123456',db='jiaoke',charset='utf8')
    df = pd.read_sql(sql, con=conn)
    conn.close()
    df.to_csv()

In [9]:
sql = "select * from gj_gps where actdatetime>= \"2017-10-12 09:00:00\" and actdatetime<= \"2017-10-12 09:05:00\""
out_from_czc_gps("C:\\Users\\D\\Desktop\\sample_gj_gps.csv",sql)

In [28]:
# following are tests
df = pd.read_csv("C:\\Users\\D\\Desktop\\wlmq_gps_zb_201710120004.txt",names=columns,sep = ',')

In [15]:
conn = pymysql.connect(host='localhost',user='user1',password='123456',db='jiaoke',charset='utf8')

In [12]:
m = df[(df.actdatetime>= '2017-10-12 09:30:00')&(df.actdatetime<= '2017-10-12 09:45:00')]

In [15]:
m = m.fillna(0)
m.to_excel('C:\\Users\\D\\Desktop\\test.xlsx')

# 出租车部分

In [194]:
coloumns = ['actdate','acttime','company','car_number','lat','lon','speed','direction',
           'service','gps_validate']

In [195]:
engine = create_engine('mysql+pymysql://user1:123456@localhost:3306/jiaoke?charset=gbk')

In [ ]:
# 导入数据
chunk = pd.read_csv('F:\\jtkjds\\data2\\gps\\czcgps\\20170119.dat',names=coloumns,chunksize=10000,encoding='gbk',sep='\t')
for df in chunk:
#     df = df[((df.acttime>=83000)&(df.acttime<=103000))|((df.acttime<=203000)&(df.acttime>=183000))]
    df = df.dropna()
    df.to_sql(name='czc_gps',con=engine,if_exists='append',index=False)
    print("insert%s"%(len(df)))

In [87]:
# 导出数据
conn  = pymysql.connect(host='localhost',user='user1',password='123456',db='jiaoke',charset='gbk')
sql = 'select * from czc_gps where acttime>=90000 and acttime<=90500'
df = pd.read_sql(sql, con=conn)
conn.close()

In [2]:
def out_from_czc_gps(path,sql):
    conn = pymysql.connect(host='localhost',user='user1',password='123456',db='jiaoke',charset='gbk')
    df = pd.read_sql(sql,con=conn)
    conn.close()
    df.to_csv(path)

In [90]:
df.to_csv("C:\\Users\\D\\Desktop\\sample.csv",index=False)

# 卡口部分

In [166]:
def correct_time(x):
    if len(x)==0:
        return np.nan
    split_list = x.split(' ') # ['19-JAN-17', '08.47.07.431000000', 'PM']
    if split_list[-1]=='AM':
        split_list1 = split_list[1].split('.') # ['08', '47', '07', '431000000']
        if split_list1[0] == '12':
            split_list1[0] = '00'
        return ''.join(split_list1[0:3])
    elif split_list[-1]=='PM':
        split_list1 = split_list[1].split('.') # ['08', '47', '07', '431000000']
        if not split_list1[0] == '12':
            split_list1[0] = str(int(split_list1[0]) + 12)
        return ''.join(split_list1[0:3])

In [ ]:
# 插入数据
df = pd.read_csv('F:\jtkjds\data2\kakou\wlmqkakou.csv',encoding='gbk',chunksize=10000)
engine = create_engine('mysql+pymysql://user1:123456@localhost:3306/jiaoke?charset=utf8')
for m in df:
    m.rename(columns={'DAY':'actdate'},inplace=True)
    m['acttime'] = m.FHSJ.apply(correct_time)
    insert_data = m[['CPHM','HPZL','actdate','acttime','WZLK','XSFX','CLSD','CDH'
                    ,'ZT']]
    insert_data.to_sql(name='kakou',con=engine,if_exists='append',index=False)
    print('ok')

In [13]:
num = []
for m in df:
    num.extend(m.WZLK.unique().tolist())
print(list(set(num)))

[1028, 1029, 4113, 1101, 5206, 5005, 5006, 5008, 5009, 4233, 4234, 7052, 7053, 1201, 1202, 1203, 1204, 1205, 1206, 1207, 1208, 1209, 1210, 1211, 1212, 1213, 1214, 9100, 9101, 9102, 9103, 9104, 9105, 9107, 9001, 9002, 9003, 9004, 9005, 9006, 9007, 9008, 9009, 9012, 9013, 9014, 7000, 7001, 7002, 7003, 7004, 7005, 7007, 7008, 7009, 7010, 7011, 7012, 7013, 5001, 5002, 5003, 5004, 7051, 7054, 5007, 7055, 7057, 9106, 7056, 7060, 7061, 7058, 7063, 7064, 7059, 7066, 7067, 7068, 7069, 7062, 7065, 7070, 7080, 7081, 7082, 7083, 7084, 7085, 7087, 7088, 7089, 7090, 7091, 7092, 3001, 3002, 3004, 3006, 3007, 3008, 3009, 3011, 3013, 3015, 3016, 3020, 3022, 3023, 3024, 3025, 3026, 3029, 3030, 4056, 1000, 1015, 1016, 1018, 1019]

一共120个编号，用sql查询只有两个时间 0119 0316

In [268]:
lk = [1028, 1029, 4113, 1101, 5206, 5005, 5006, 5008, 5009, 4233, 4234, 7052, 7053, 1201, 1202, 1203, 1204, 1205, 1206, 1207, 1208, 1209, 1210, 1211, 1212, 1213, 1214, 9100, 9101, 9102, 9103, 9104, 9105, 9107, 9001, 9002, 9003, 9004, 9005, 9006, 9007, 9008, 9009, 9012, 9013, 9014, 7000, 7001, 7002, 7003, 7004, 7005, 7007, 7008, 7009, 7010, 7011, 7012, 7013, 5001, 5002, 5003, 5004, 7051, 7054, 5007, 7055, 7057, 9106, 7056, 7060, 7061, 7058, 7063, 7064, 7059, 7066, 7067, 7068, 7069, 7062, 7065, 7070, 7080, 7081, 7082, 7083, 7084, 7085, 7087, 7088, 7089, 7090, 7091, 7092, 3001, 3002, 3004, 3006, 3007, 3008, 3009, 3011, 3013, 3015, 3016, 3020, 3022, 3023, 3024, 3025, 3026, 3029, 3030, 4056, 1000, 1015, 1016, 1018, 1019]

In [49]:
columns = ['DAY', 'HOUR', 'MIN', 'PK_CAR', 'CPHM', 'HPZL', 'HPYS', 'WZSJ', 'WZLK',
       'XSFX', 'CLSD', 'CDH', 'WZLX', 'ZT', 'TPDZ', 'CLLX', 'AUDIT_USER',
       'WJJ', 'FILENAME', 'PIC1', 'PIC2', 'PIC3', 'ID', 'SFXZ', 'FLAG', 'FSSJ',
       'FHBZ', 'FHSJ', 'YID', 'ZJWJLJ', 'QYBH', 'CLCD', 'CSYS', 'CAR_LOGO',
       'CLLB', 'CLYSSQ']

In [89]:
df = pd.read_csv('F:\jtkjds\data2\kakou\wlmqkakou.csv',encoding='gbk')

In [92]:
info = pd.DataFrame(columns=columns)
for no in lk:
    info = pd.concat([info,df[df.WZLK==no][:1]])

In [95]:
info.to_csv(r'C:\Users\D\Desktop\info.csv')

In [96]:
del df

In [98]:
# 标定卡口GPS位置
df = pd.read_csv(r'C:\Users\D\Desktop\info.csv',encoding='gbk')

In [127]:
df['location'] = df.PIC1.apply(lambda x :np.nan if re.findall(r'/卡口/(.*?)/',x) == [] else re.findall(r'/卡口/(.*?)/',x)[0])

In [136]:
len(df[df.location.isnull()])

90

In [151]:
from geopy.geocoders import Nominatim
geolocator = Nominatim()
place = geolocator.geocode('乌鲁木齐西外环－黄河路匝道')

In [155]:
df.to_csv(r'C:\Users\D\Desktop\info.csv',index=False)

In [3]:
df = pd.read_csv('F:\jtkjds\data2\kakou\wlmqkakou.csv',encoding='gbk',chunksize=1000)

# 经纬度坐标对应

In [62]:
def select_car_num(num = 5):
    sql = "SELECT car_number FROM czc_gps WHERE id >= ((SELECT MAX(id) FROM czc_gps)-(SELECT MIN(Id) FROM czc_gps)) * RAND() + (SELECT MIN(Id) FROM czc_gps)  LIMIT %s;"%num
    conn = pymysql.connect(host='localhost',user='user1',password='123456',db='jiaoke',charset='gbk')
    cursor = conn.cursor()
    cursor.execute(sql)
    return cursor.fetchall()

In [213]:
def return_kakou(car_num):
    sql = "select * from kakou where cphm='%s'"%car_num
    conn = pymysql.connect(host='localhost',user='user1',password='123456',db='jiaoke',charset='gbk')
    cursor = conn.cursor()
    cursor.execute(sql)
    return cursor.fetchall()

In [266]:
def find_location(s = tuple):
    sql = "select * from czc_gps where car_number='%s' and acttime>=%s and acttime<=%s"%(s[1],int(s[4])-100,int(s[4])+100)
    conn = pymysql.connect(host='localhost',user='user1',password='123456',db='jiaoke',charset='gbk')
    cursor = conn.cursor()
    cursor.execute(sql)
#     lat = cursor.fetchall()
#     lon = cursor.fetchall()
    result = cursor.fetchall()
    if len(result) == 0:
        return None
    else : 
        return list(result[0])[5:7]

In [277]:
lk_dic = {}
for i in lk:
    lk_dic[i] = []

In [283]:
for i in select_car_num(10):
    for j in i:
        for k in return_kakou(j):
            lk_dic[k[5]].append(find_location(k))

In [262]:
s = (3248299, '新AT7555', 2, '20170119', '015225', 7084, 3, 23, 1, 1)
find_location(s)

[Decimal('87.589447'), Decimal('43.793660')]

In [284]:
s = 0
for i in lk:
    if lk_dic[i] == []:
        s+=1

In [290]:
with open('C:\\Users\\D\\Desktop\\lk_dic.txt','w') as f:
    f.write(str(lk_dic))

In [ ]:
with open('C:\\Users\\D\\Desktop\\lk_dic.txt','r') as f:
    a = f.read()