In [1]:
import pandas as pd
from sqlalchemy import create_engine
import pymysql
import os
import numpy as np
import re

# 公交部分

In [82]:
columns = ['busid','datatype','routeid','subrouteid','productid','statiomseqnum',
           'stationnum','isarrlef','actdatetime','recdatetime','writeid',
          'isappend','bussid','longitude','latitude','altitude','gpsspeed','sensorspeed',
          'rotationangle','stationtype','ismanulopt','packcode','smcode','onpnum',
          'offpnum','leftpnum','tptdata','doorstate','peccancytype','peccancytime',
          'standardvalue','peccancyvalues','gpsmile','r1','r2','r3','r4','r5','r6',
          'r7','r8','r9','r10']

In [83]:
subcolumns = ['busid','actdatetime',
          'isappend','longitude','latitude','gpsspeed',
          'rotationangle','onpnum',
          'offpnum','leftpnum','doorstate']

In [85]:
def insert_valuses(dir_path = 'F:\\jtkjds\\data2\\gps\\gjcgps\\wlmq_gps_gj_20171012\\'):
    dir_list = os.listdir(dir_path)
    for dir_name in dir_list:
        path = dir_path + dir_name
        df = pd.read_csv(path, names= columns,sep = ',')
        df = df[subcolumns]
        df = df[((df.actdatetime%1000000>=83000)&(df.actdatetime%1000000<=103000))
                |((df.actdatetime%1000000<=203000)&(df.actdatetime%1000000>=183000))]
        
        try:  
            engine = create_engine('mysql+pymysql://user1:123456@localhost:3306/jiaoke') 
        except sqlalchemy.exc.OperationalError as e:  
            print('Error is '+str(e))  
            sys.exit()  
        except sqlalchemy.exc.InternalError as e:  
            print('Error is '+str(e))  
            sys.exit()   
        df.to_sql(name='gj_gps',con=engine,if_exists='append',index=False)
        print('%s is inserted'%len(df))
        
insert_valuses()

C:\Users\D\AppData\Local\Continuum\Anaconda3\lib\site-packages\pymysql\cursors.py:165: Warning: (1366, "Incorrect string value: '\\xD6\\xD0\\xB9\\xFA\\xB1\\xEA...' for column 'VARIABLE_VALUE' at row 481")
  result = self._query(query)
C:\Users\D\AppData\Local\Continuum\Anaconda3\lib\site-packages\pymysql\cursors.py:165: Warning: (1287, "'@@tx_isolation' is deprecated and will be removed in a future release. Please use '@@transaction_isolation' instead")
  result = self._query(query)

0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted

C:\Users\D\AppData\Local\Continuum\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2827: DtypeWarning: Columns (33) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
41917 is inserted
52878 is inserted
53588 is inserted
53749 is inserted
54435 is inserted
54463 is inserted
54560 is inserted
54263 is inserted
54661 is inserted
54234 is inserted
54553 is inserted
54566 is inserted
54563 is inserted
54521 is inserted
54554 is inserted
54568 is inserted
54551 is inserted
55237 is inserted
55317 is inserted
55625 is inserted
55754 is inserted
55371 is inserted
55205 is inserted
55292 is inserted
10902 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
42881 is inserted
53676 is inserted
53744 is inserted
53630 is inserted
53947 is inserted
53844 is inserted
53961 is inserted
53847 is inserted
54019 is inserted
54006 is inserted
53955 is inserted
53844 is inserted
54380 is inserted
53709 is inserted
53505 is inserted
53183 is inserted
53033 is inserted
52956 is inserted
53043 is inserted
53186 is inserted
52380 is inserted
52663 is inserted
52389 is inserted
51740 is inserted
10589 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted

In [86]:
insert_valuses('F:\\jtkjds\\data2\\gps\\gjcgps\\wlmq_gps_zb_20171012\\')

C:\Users\D\AppData\Local\Continuum\Anaconda3\lib\site-packages\pymysql\cursors.py:165: Warning: (1366, "Incorrect string value: '\\xD6\\xD0\\xB9\\xFA\\xB1\\xEA...' for column 'VARIABLE_VALUE' at row 481")
  result = self._query(query)
C:\Users\D\AppData\Local\Continuum\Anaconda3\lib\site-packages\pymysql\cursors.py:165: Warning: (1287, "'@@tx_isolation' is deprecated and will be removed in a future release. Please use '@@transaction_isolation' instead")
  result = self._query(query)

0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
21873 is inserted
21909 is inserted
22063 is inserted
22156 is inserted
22367 is inserted
22383 is inserted
22629 is inserted
22690 is inserted
22560 is inserted
22561 is inserted
22759 is inserted
22633 is inserted
22835 is inserted
22923 is inserted
22875 is inserted
23079 is inserted
22976 is inserted
23090 is inserted
23309 is inserted
23214 is inserted
23389 is inserted
23166 is inserted
23359 is inserted
23504 is inserted
88 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
23041 is inserted
22807 is inserted
22813 is inserted
22890 is inserted
22812 is inserted
22597 is inserted
22373 is inserted
22249 is inserted
22248 is inserted
22286 is inserted
22214 is inserted
22171 is inserted
21808 is inserted
21832 is inserted
21760 is inserted
21700 is inserted
21550 is inserted
21369 is inserted
21295 is inserted
21472 is inserted
21288 is inserted
21091 is inserted
21089 is inserted
21036 is inserted
61 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted
0 is inserted

In [3]:
def out_from_gj_gps(path = "C:\\Users\\D\\Desktop\\", sql = 'select * from gj_gps'):
    conn  = pymysql.connect(host='localhost',user='user1',password='123456',db='jiaoke',charset='utf8')
    df = pd.read_sql(sql, con=conn)
    conn.close()
    df.to_csv()

In [9]:
sql = "select * from gj_gps where actdatetime>= \"2017-10-12 09:00:00\" and actdatetime<= \"2017-10-12 09:05:00\""
out_from_czc_gps("C:\\Users\\D\\Desktop\\sample_gj_gps.csv",sql)

In [28]:
# following are tests
df = pd.read_csv("C:\\Users\\D\\Desktop\\wlmq_gps_zb_201710120004.txt",names=columns,sep = ',')

In [15]:
conn = pymysql.connect(host='localhost',user='user1',password='123456',db='jiaoke',charset='utf8')

In [12]:
m = df[(df.actdatetime>= '2017-10-12 09:30:00')&(df.actdatetime<= '2017-10-12 09:45:00')]

In [15]:
m = m.fillna(0)
m.to_excel('C:\\Users\\D\\Desktop\\test.xlsx')

# 出租车部分

In [69]:
coloumns = ['actdate','acttime','company','car_number','lat','lon','speed','direction',
           'service','gps_validate']

In [80]:
chunk = pd.read_csv('F:\\jtkjds\\data2\\gps\\czcgps\\TGB-20171012.dat',names=coloumns,sep='\t',encoding='gbk',chunksize=10000)

In [67]:
engine = create_engine('mysql+pymysql://user1:123456@localhost:3306/jiaoke?charset=gbk')

In [ ]:
# 导入数据
for df in chunk:
    df = df[((df.acttime>=83000)&(df.acttime<=103000))|((df.acttime<=203000)&(df.acttime>=183000))]
    df.to_sql(name='czc_gps',con=engine,if_exists='append',index=False)
    print("insert%s"%(len(df)))

In [87]:
# 导出数据
conn  = pymysql.connect(host='localhost',user='user1',password='123456',db='jiaoke',charset='gbk')
sql = 'select * from czc_gps where acttime>=90000 and acttime<=90500'
df = pd.read_sql(sql, con=conn)
conn.close()

In [2]:
def out_from_czc_gps(path,sql):
    conn = pymysql.connect(host='localhost',user='user1',password='123456',db='jiaoke',charset='gbk')
    df = pd.read_sql(sql,con=conn)
    conn.close()
    df.to_csv(path)

In [90]:
df.to_csv("C:\\Users\\D\\Desktop\\sample.csv",index=False)

# 卡口部分

In [ ]:
# 插入数据
df = pd.read_csv('F:\jtkjds\data2\kakou\wlmqkakou.csv',encoding='gbk',chunksize=10000)
engine = create_engine('mysql+pymysql://user1:123456@localhost:3306/jiaoke?charset=utf8')
for m in df:
    m.rename(columns={'DAY':'actdate'},inplace=True)
    m['acttime'] = m.HOUR*10000 + m.MIN*100
    insert_data = m[['CPHM','HPZL','actdate','acttime','WZLK','XSFX','CLSD','CDH'
                    ,'ZT']]
    insert_data.to_sql(name='kakou',con=engine,if_exists='append',index=False)
    print('ok')

In [13]:
num = []
for m in df:
    num.extend(m.WZLK.unique().tolist())
print(list(set(num)))

[1028, 1029, 4113, 1101, 5206, 5005, 5006, 5008, 5009, 4233, 4234, 7052, 7053, 1201, 1202, 1203, 1204, 1205, 1206, 1207, 1208, 1209, 1210, 1211, 1212, 1213, 1214, 9100, 9101, 9102, 9103, 9104, 9105, 9107, 9001, 9002, 9003, 9004, 9005, 9006, 9007, 9008, 9009, 9012, 9013, 9014, 7000, 7001, 7002, 7003, 7004, 7005, 7007, 7008, 7009, 7010, 7011, 7012, 7013, 5001, 5002, 5003, 5004, 7051, 7054, 5007, 7055, 7057, 9106, 7056, 7060, 7061, 7058, 7063, 7064, 7059, 7066, 7067, 7068, 7069, 7062, 7065, 7070, 7080, 7081, 7082, 7083, 7084, 7085, 7087, 7088, 7089, 7090, 7091, 7092, 3001, 3002, 3004, 3006, 3007, 3008, 3009, 3011, 3013, 3015, 3016, 3020, 3022, 3023, 3024, 3025, 3026, 3029, 3030, 4056, 1000, 1015, 1016, 1018, 1019]

一共120个编号，用sql查询只有两个时间 0119 0316

In [90]:
lk = [1028, 1029, 4113, 1101, 5206, 5005, 5006, 5008, 5009, 4233, 4234, 7052, 7053, 1201, 1202, 1203, 1204, 1205, 1206, 1207, 1208, 1209, 1210, 1211, 1212, 1213, 1214, 9100, 9101, 9102, 9103, 9104, 9105, 9107, 9001, 9002, 9003, 9004, 9005, 9006, 9007, 9008, 9009, 9012, 9013, 9014, 7000, 7001, 7002, 7003, 7004, 7005, 7007, 7008, 7009, 7010, 7011, 7012, 7013, 5001, 5002, 5003, 5004, 7051, 7054, 5007, 7055, 7057, 9106, 7056, 7060, 7061, 7058, 7063, 7064, 7059, 7066, 7067, 7068, 7069, 7062, 7065, 7070, 7080, 7081, 7082, 7083, 7084, 7085, 7087, 7088, 7089, 7090, 7091, 7092, 3001, 3002, 3004, 3006, 3007, 3008, 3009, 3011, 3013, 3015, 3016, 3020, 3022, 3023, 3024, 3025, 3026, 3029, 3030, 4056, 1000, 1015, 1016, 1018, 1019]

In [49]:
columns = ['DAY', 'HOUR', 'MIN', 'PK_CAR', 'CPHM', 'HPZL', 'HPYS', 'WZSJ', 'WZLK',
       'XSFX', 'CLSD', 'CDH', 'WZLX', 'ZT', 'TPDZ', 'CLLX', 'AUDIT_USER',
       'WJJ', 'FILENAME', 'PIC1', 'PIC2', 'PIC3', 'ID', 'SFXZ', 'FLAG', 'FSSJ',
       'FHBZ', 'FHSJ', 'YID', 'ZJWJLJ', 'QYBH', 'CLCD', 'CSYS', 'CAR_LOGO',
       'CLLB', 'CLYSSQ']

In [89]:
df = pd.read_csv('F:\jtkjds\data2\kakou\wlmqkakou.csv',encoding='gbk')

In [92]:
info = pd.DataFrame(columns=columns)
for no in lk:
    info = pd.concat([info,df[df.WZLK==no][:1]])

In [95]:
info.to_csv(r'C:\Users\D\Desktop\info.csv')

In [96]:
del df

In [98]:
# 标定卡口GPS位置
df = pd.read_csv(r'C:\Users\D\Desktop\info.csv',encoding='gbk')

In [127]:
df['location'] = df.PIC1.apply(lambda x :np.nan if re.findall(r'/卡口/(.*?)/',x) == [] else re.findall(r'/卡口/(.*?)/',x)[0])

In [136]:
len(df[df.location.isnull()])

90

In [151]:
from geopy.geocoders import Nominatim
geolocator = Nominatim()
place = geolocator.geocode('乌鲁木齐西外环－黄河路匝道')

In [155]:
df.to_csv(r'C:\Users\D\Desktop\info.csv',index=False)

In [3]:
df = pd.read_csv('F:\jtkjds\data2\kakou\wlmqkakou.csv',encoding='gbk',chunksize=1000)